@model Epi.Web.MVC.Models.UserResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            Create New Password</h2>
    </div>
    <div id="userwelcome">
    </div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin: 1em;">
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "myform" }))
    {
         @Html.ValidationSummary(true)
        <div id="resetpwd">
            <p>
                Create a new password before using Epi Info™ Web Enter.</p>
            <label for="newpass" style="display: block; font-weight: bold;">
                New Password:</label>
            @Html.PasswordFor(m => m.Password)
            <label for="newpass" style="display: block; font-weight: bold;">
                Confirm Password:</label>
            @Html.PasswordFor(m => m.ConfirmPassword)

            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.LastName)
            <br />
            <p>
                <button data-theme="submit2" type="submit" value="ResetPassword" class="default">Submit</button>
                &nbsp;&nbsp;&nbsp;
                <button data-theme="submit2" type="submit" value="Cancel" class="default" name = "Action">Cancel</button>
            </p>
        </div>
         <div id="pwdpolicy">
            <h3>
                Password Policy</h3>
            <ul style="margin: 2px 5px 5px 30px; padding: 0; line-height: 1.5em;">
                <li>Password must be @Model.MinimumLength to @Model.MaximumLength characters in length.</li>
                <li>Password may not contain your User ID or any part of your full name.</li>
                <li>Password must be created using @Model.NumberOfTypesRequiredInPassword of the following character types:</li>
                <ul style="margin: 3px 5px 5px 20px; padding: 0; line-height: 1.5em;">
                    <li>Upper case</li>
                    <li>Lower case</li>
                    <li>Numeric</li>
                    <li>Punctuation - <span>@Model.Symbols</span></li>
                </ul>
                
            </ul>
        </div>
        <div style="clear: both;"></div>
    }
</div>
