@model IEnumerable<Epi.Web.MVC.Models.FormInfoModel>
@{
    ViewBag.Title = "Epi Web Enter - My Forms";// + " - "+ 
    // Model.SurveyName + " - " + Model.IsDraftModeStyleClass;
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}
@*<script type="text/javascript" >

	  $(document).ready(function () {
		  // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!




		  $("#VideoDialog").dialog({
			  autoOpen: false,
			  show: "blind",
			  hide: "blind",
			  resizable: false,
			  height: 410,
			  width: 500,
			  modal: true
		  });

	  });

</script>*@
<script>


    $(function () {
        $("button[class*='metro-tile']").click(function (e) {
            e.preventDefault();
            $("button[class*='metro-tile']").removeClass('metro-set');
            $(this).addClass('metro-set');
            $("#right").show();
          //  alert('1');
            $.ajax({
                url: '@Url.Action("ReadResponseInfo","Home")' + '?formid=' + $(this).attr('data-FormId'),
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                //data: JSON.stringify(model),
                success: successFunc
            });
            $.ajaxSetup({ cache: false });

            function successFunc(data, status) {
                $('#right').html(data);
            }

            function errorFunc() {
                alert('error');
            }

        });

        $(document).on("click", "a[name='link']", function (e) {
            e.preventDefault();

        //    alert('2');
            $.ajax({
                url: '@Url.Action("ReadResponseInfo","Home")' + '?formid=' + $(this).attr('data-formid') + "&page=" + $(this).attr('data-pagenumber'),
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                //data: JSON.stringify(model),
                success: successFunc
            });

            $.ajaxSetup({ cache: false });

            function successFunc(data, status) {
                $('#right').html(data);
            }

            function errorFunc() {
                alert('error');
            }
        });


        $("#dropdown-1").change(function () {

            FilterRecords(this);
            $("#right").hide();
            $("button[class*='metro-tile']").removeClass('metro-set');
            $("button:visible").triggerHandler('click');
        });


      //  $("button:visible").triggerHandler('click');

    });


    $(document).ready(function () {
        // e.preventDefault();

        //$(this).addClass('metro-set');
        var ActionUrl = "";
        var Url = window.location.pathname;
        var ResultUrl = "";
        if (Url.indexOf("/") != -1)
            ResultUrl = Url.substring(Url.lastIndexOf("/") + 1);
        else
            ResultUrl = Url;


        var FieldId = "#" + ResultUrl
        //alert(ResultUrl);
        if (ResultUrl.toUpperCase() != "HOME") {

            $("button[class*='metro-tile']").removeClass('metro-set');
            $(FieldId).addClass('metro-set');
            ActionUrl = '@Url.Action("ReadResponseInfo","Home")' + "?formid= " + ResultUrl;
            ReadResponse(ActionUrl);
        }
        else {

            $("button:visible").triggerHandler('click');

        }

        $("#right").show();



    });
    function ReadResponse(ActionUrl) {
   
        $.ajax({
            url: ActionUrl,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(model),
            success: successFunc,
            Error: errorFunc
        });
        $.ajaxSetup({ cache: false });

        function successFunc(data, status) {
            $('#right').html(data);
        }

        function errorFunc() {
            alert('error');
        }
    
    }
    
</script>

<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            My Forms</h2>
    </div>
    <div id="userwelcome">
        Welcome <strong>John</strong>&nbsp; | &nbsp;<a href="#">Log Out</a></div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin-bottom: 200px; padding-left: 10px; min-height: 375px;">
    <div id="leftarrangeby" style="float: left; vertical-align: middle; width: 320px;">
        <span class="css3-metro-dropdown">
            <select id="dropdown-1">
               @* <option value="0" selected="selected" disabled="disabled">Arrange by:</option>*@
                <option value="1">My Forms</option>
                <option value="2">Forms Assigned to Me</option>
                <option value="3" selected="selected">All Forms</option>
                @*	<option value="3">Last Saved Forms First</option>*@
            </select>
        </span>
    </div>
    <div id="rightlegend" style="float: left; font-size: 9pt; vertical-align: baseline;
        margin-top: 8px;">
        <div id="Div1" style="display: inline; margin-right: 30px;">
            <img alt="" src="~/Content/images/designlegend.png" align="middle" style="width: 16px;
                vertical-align: middle;" />
            My Forms</div>
        <div id="Div2" style="display: inline; margin-right: 30px;">
            <img alt="" src="~/Content/images/collectlegend.png" align="middle" style="width: 16px;
                vertical-align: middle;" />
            Forms Assigned to Me</div>
        <div id="Div4" style="display: inline; margin-right: 30px;">
            <img alt="" src="~/Content/images/prodlegend1.png" align="middle" style="width: 16px;
                vertical-align: middle;" />
            Forms in Production</div>
        <div id="Div3" style="display: inline;">
            <img alt="" src="~/Content/images/staginglegend1.png" align="middle" style="width: 16px;
                vertical-align: middle;" />
            Forms in Staging</div>
    </div>
    <div style="clear: both;">
    </div>
    <!-- <a href="#" class="show_hide">Show/hide</a>-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formsList" }))
    {
        
    
        <div class="section group" id="main">
            <div id="left" class="col span_1_of_3">
                @Html.Partial("ListForms", Model)
            </div>
            <div id="right" class="col span_1_of_3" style="background: white; min-width: 800px;">
               @* @Html.Partial("ListResponses", Model)*@
            </div>
          
        </div>
    }
    <div id="settingscontent" style="height:0;">
       
    </div>
</div>
@*</div>  
  </div> *@ 
		 
