@model Epi.Web.MVC.Models.FormResponseInfoModel

<div id="pageHeader">
  	<div id="pageTitle"><h2>My Forms</h2></div>
   	<div id="userwelcome">Welcome <strong>John</strong>&nbsp; | &nbsp;<a href="#">Log Out</a></div>
  	<div style="clear:both;"></div>
</div> 

<div id="content" style="margin-bottom:200px;">
@Html.ActionLink("< Return to Forms List", "Index")
<div class="section group" id="main">

<div id="right" class="col span_1_of_3" style="background: white; padding:10px;">
    <div id="formtitle">
	    <h2 class="surveyTitle">@Model.FormInfoModel.FormId</h2>
    </div>

    


   @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formsList" }))
   { 
    <div id="editsettings">
                <button id="btneditsettings" type="button" data-theme="defsettings">
                    Settings</button>
            </div>
            <div style="clear: both">
            </div>
            <div id="infobox1">
                <div id="create">
                    <span>Created by:</span> <span class="boldlabel">John Doe</span></div>
                <div id="status">
                    <span>Status:</span> <span class="boldlabel">Active</span></div>
                <div id="mode">
                    <span>Mode:</span> <span class="boldlabel">Staging</span></div>
                <div style="clear: both;">
                </div>
            </div>
            <div id="recordscontent">
                <!--style="display:inline-block;"-->
                <div id="addnew">
                    <button  type="sumit"  name="AddNewFormId"  value="@Model.FormInfoModel.FormId" data-theme="defrecord" >
                        Add New Record
                    </button>
                    
                </div>
                <div id="paging" class="pages" style="margin-top: 11px; min-width: 184px !important;">
                   @* <button class="default paging">
                        <img alt="Previous" src="~/Content/images/prev1.png" align="middle" /></button>
                    &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                    <button class="default paging">
                        <img alt="Next" src="~/Content/images/next1.png" align="middle" /></button>*@
                        <a  style="background-image: url('@Url.Content("~/Content/images/prev.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                     &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                      <a  style="background-image: url('@Url.Content("~/Content/images/next.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                </div>
                <div style="clear: both; margin-bottom: 10px;">
                </div>
                <div id="recordstable">
                    <!-- style="display:inline-block;">-->
                    @*<table >
		                    <thead>
		                    <tr>
			                    <th>Actions</th>
			                    <th>Record</th>
			                    <th>Id</th>
			                    <th>State</th>
			                    <th>Ill</th>
			                    <th>City</th>
			                    <th>DOB</th>
			                    <th>Last Saved</th>		
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr>
			                    <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
			                    <td>1</td>
			                    <td>A7610</td>
			                    <td>FL</td>
			                    <td>Yes</td>
			                    <td>Gainesville</td>
			                    <td>January 13, 1979</td>
			                    <td>11/05/2013 12:55 PM</td>			
		                    </tr>
		                    <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>2</td>
		                        <td>A7611</td>
		                        <td>NC</td>
		                        <td>No</td>
		                        <td>Charlotte</td>
		                        <td>July 19, 1968</td>
		                        <td>11/05/2013 12:55 PM</td>		  
		                    </tr>
		                    <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>3</td>
		                        <td>A7612</td>
		                        <td>AL</td>
		                        <td>No</td>
		                        <td>Montgomery</td>
		                        <td>May 18, 1945</td>
		                        <td>11/05/2013 12:55 PM</td>		  
		                    </tr>
		                    <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>4</td>
		                        <td>A7613</td>
		                        <td>SC</td>
		                        <td>--</td>
		                        <td>Columbia</td>
		                        <td>July 5, 1956</td>
		                        <td>11/05/2013 12:55 PM</td>		  
		                    </tr>
		                    <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>5</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>6</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>7</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>8</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
                            <tr>
		                        <td><button class="default">Edit</button> &nbsp;&nbsp; <button class="default">Delete</button></td>
		                        <td>9</td>
		                        <td>A7614</td>
		                        <td>GA</td>
		                        <td>Yes</td>
		                        <td>Atlanta</td>
		                        <td>December 13, 1982</td>
		                        <td>11/05/2013 12:55 PM</td>		 
		                    </tr>
		            </tbody>
	            </table>*@
                </div>
            </div>
    
    
   }
</div>
</div>
</div>