@model IEnumerable<Epi.Web.MVC.Models.FormInfoModel>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

    <div class="divcontents">
               
        @foreach (var item in Model)
        {
            var divClass = "metro-tile ";

            if (item.IsOwner)
            {
                divClass += "metro-design ";
            }
            else
            {
                divClass += "metro-collect ";
            }

            if (item.IsDraftMode)
            {

                divClass += "metro-staging";
            }
            else
            {
                divClass += "metro-prod";
            }
            @*<a href="@Url.RouteUrl(null, new { controller = "Home", action = "Index", formid = item.FormId })" >*@
            @*<a onclick="document.getElementById('formsList').submit()" href="#">*@
            <button id="@item.FormName" class="@divClass" type=submit >
                    <h3>@item.FormName</h3>            
            </button>

                
                    }
                </td>
            </tr>
        </table>
    </div>

