@model Epi.Web.MVC.Models.FormResponseInfoModel
<div id="formtitle">
    <h2 class="surveyTitle">@Model.FormInfoModel.FormName
    </h2>
    <!--<hr class="hr1" />-->
</div>
<div id="editsettings">
    <button id="btneditsettings" class="default settings" type="button">
        Settings</button>
</div>
<div style="clear: both">
</div>
<div id="infobox1">
    @*<div id="create">
                    <span>Created by:</span> <span class="boldlabel">@Model.FormInfoModel.UserId</span></div>*@
    <div id="create">
        <span>Created by:</span> <span class="boldlabel">@Model.FormInfoModel.FormId @Model.FormInfoModel.OwnerLName </span></div>
    @*<div id="status">
                    <span>Status:</span> <span class="boldlabel">Active</span></div>
*@
    @{
        if (@Model.FormInfoModel.IsDraftMode)
        {
        <div id="mode">
            <span>Mode:</span> <span class="boldlabel">Staging</span></div>
        }
        else
        {
                               
        <div id="mode">
            <span>Mode:</span> <span class="boldlabel">Production</span></div> 
                               
                               
        }
    }
    <div style="clear: both;">
    </div>
</div>
@{
    WebGrid webGrid = new WebGrid(rowsPerPage: 20,
        canSort: false, ajaxUpdateContainerId: "recordstable"); // Model.SurveyAnswerResponse.pageSize
    webGrid.Bind(Model.ResponsesList, autoSortAndPage: false, rowCount: Model.ResponsesList.Count); //Model.SurveyAnswerResponse.pageSize * Model.ResponsesList.Count TBD
}
<div id="recordscontent">
    <!--style="display:inline-block;"-->
    <div id="addnew">
        <button  type="submit"  name="AddNewFormId" class="default record" value="@Model.FormInfoModel.FormId">
            Add New Record
        </button>
    </div>
    <!--<div id="paging" >
                    <button class="default paging">
                        <img alt="Previous" src="~/Content/images/prev.png" a  lign="middle" /></button>
                    &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                    <button class="default paging">
                        <img alt="Next" src="~/Content/images/next.png" align="middle" /></button>
                        
                </div>-->
    <div style="clear: both; margin-bottom: 10px;">
    </div>
    <div id="recordstable">
        @{
            if (Model.ResponsesList.Count > 0)
            {

        
        
            @webGrid.GetHtml(
            columns: webGrid.Columns(
                                 webGrid.Column("Column1", Model.Columns[0].Value),
                                 webGrid.Column("Column2", Model.Columns[1].Value),
                                 webGrid.Column("Column3", Model.Columns[2].Value),
                                 webGrid.Column("Column4", Model.Columns[3].Value),
                                 webGrid.Column("Column5", Model.Columns[4].Value),
                                 webGrid.Column(format:
                                          (item) => (item.IsLocked == false) ? Html.ActionLink("Edit", "Edit", new { id = item.Column0 }) : Html.Raw("Edit"), style: "column"),
                          webGrid.Column(format: (item) => (item.IsLocked == false) ? Html.ActionLink("Delete", "Delete", new { id = item.Column0 }) : Html.Raw("Delete") , style: "column")
                               )
                                  );
            } }
    </div>
</div>
