@model Epi.Web.MVC.Models.FormResponseInfoModel

<script type="text/javascript">
    //$(document).ready(function () {

    $(document).on("click", "button[name='DeleteButton']", function (e) {
        e.preventDefault();
        //alert(22);
        $(this).simpledialog({
            'mode': 'blank',
            'prompt': false,
            'forceInput': false,
            'useModal': true,
            'buttons': {
                'OK': {
                    click: function () {
                        $('#dialogoutput').text('OK');
                        alert(test);
                    }
                }

            },


            'fullHTML': "<div id=\"exitdialog\" title=\"Delete Record\" ><p style=\"font-size:1.20em; font-weight:400;\">Are you sure you want to delete this record?</p><p style=\"font-size:1.20em; font-weight:300;\"></p><p><div align='right' id='exitbtns'> <a  onclick ='ExitSurvey();'  class='login'  style='width:50px; padding:8px 15px !important; border: 1px solid #1f3b53 !important; background: #5c53ac !important; color:#fff !important; text-shadow: none !important;'>Yes</a>        <a class='login'   style='width:50px; padding:8px 15px !important; border: 1px solid #1f3b53 !important; background: #5c53ac !important; color:#fff !important; text-shadow: none !important;'rel='close'   id='simpleclose' onclick=\"Submit();\">No</a></div></p>"
        })

        //});
    });
</script>

<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            My Forms</h2>
    </div>
    <div id="userwelcome">
        Welcome <strong>John</strong>&nbsp; | &nbsp;<a href="#">Log Out</a></div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin-bottom: 200px;">
    @Html.ActionLink("Return to Forms List", "Index", "Home", new object { }, new { @class = "backlink" })
    <div class="section group" id="main">
        <div id="right" class="col span_1_of_3" style="background: white; padding: 10px;">
            <div id="formtitle">
                <h2 class="surveyTitle">@Model.FormInfoModel.FormName</h2>
            </div>
            @{
                WebGrid webGrid = new WebGrid(rowsPerPage: 20,
                    canSort: false, ajaxUpdateContainerId: "recordstable"); // Model.SurveyAnswerResponse.pageSize
                // webGrid.Pager(WebGridPagerModes.NextPrevious);
                webGrid.Bind(Model.ResponsesList, autoSortAndPage: true, rowCount: Model.NumberOfResponses);
            }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formsList" }))
            { 
                <div style="max-width:720px;">
               
                <div id="editsettings">
                    <button id="btneditsettings" type="button" data-theme="defsettings">
                        Settings</button>
                </div>
                <div id="addnew">
                        <button  type="submit"  name="AddNewFormId"  value="@Model.FormInfoModel.FormId" data-theme="defrecord" >
                            Add New Record
                        </button>
                    </div>
                     <div style="clear: both;"></div>
                     <div id="infobox1">
                    <div id="create">
                        <span>Created by:</span> <span class="boldlabel">@Model.FormInfoModel.OwnerLName @Model.FormInfoModel.OwnerFName</span></div>
                    @*      <div id="status">
                    <span>Status:</span> <span class="boldlabel">Active</span></div>*@
                    @{
                if (@Model.FormInfoModel.IsDraftMode)
                {
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Staging</span></div>
                }
                else
                {
                               
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Production</span></div> 
                        
                         <div id="NumberOfRecords" style="display:block;"> 
                    <span>Total Records:</span> <span class="boldlabel" style="font-size:14pt;">@Model.NumberOfResponses</span></div>
                               
                               
                }
                    }
                    <div style="clear: both;">
                    </div>
                </div>
                </div>
                <div style="clear: both">
                </div>
                
                <div id="recordscontent">
                    <!--style="display:inline-block;"-->
                    

                    <!--<div id="paging" class="pages" style="margin-top: 11px; min-width: 184px !important;">
                   @* <button class="default paging">
                        <img alt="Previous" src="~/Content/images/prev1.png" align="middle" /></button>
                    &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                    <button class="default paging">
                        <img alt="Next" src="~/Content/images/next1.png" align="middle" /></button>*@
                        <a  style="background-image: url('@Url.Content("~/Content/images/prev.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                     &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                      <a  style="background-image: url('@Url.Content("~/Content/images/next.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                </div>-->
                    <div style="clear: both; margin-bottom: 10px;">
                    </div>
                    <div id="recordstable">
                        @if (Model.ResponsesList.Count > 0)
                        {
                            <div id='pager1'>
                            @*Html.Partial("~\\views\\shared\\PagerPartial.cshtml", Model)*@
                            @Html.Partial("PagerPartial", Model)
                            </div>

        
                            @Html.Raw("<ul>")
                            for (int i = 0; i < Model.ResponsesList.Count(); i++)
                            {
                            @Html.Raw("<li class='mobilerow'>");
                           <!-- @Html.Raw("<div class='mobilewrap'><div class='mobileheader'> Actions: </div>" + "<div  class='mobilevalue'>" + @Html.ActionLink("Edit", "index", "survey", new { responseId = Model.ResponsesList[i].Column0 }, null).ToString() + " &nbsp;&nbsp; " + @Html.ActionLink("Delete", "Delete", new { id = Model.ResponsesList[i].Column0 }) + " " + "</div></div>");-->
                              @Html.Raw("<div class='mobilewrap'><div class='mobileheader'> Actions: </div>" + "<div  class='mobilevalue'>" + "<button data-role='button' data-theme='submit2' data-inline='true' type='submit' name='EditForm'  id='" + Model.ResponsesList[i].Column0 + "'value='" + Model.ResponsesList[i].Column0 + "'>Edit</button> &nbsp;&nbsp; " + "<button data-role='button' data-theme='submit2' data-inline='true' type='submit' name='DeleteButton'  id='" + Model.ResponsesList[i].Column0 + "'value='" + Model.ResponsesList[i].Column0 + "'>Delete</button> &nbsp;&nbsp; " + " " + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[0].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column1 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[1].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column2 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[2].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column3 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[3].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column4 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[4].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column5 + "</div></div>");
                           
                            @Html.Raw("</li>");
                            }
                            @Html.Raw("</ul>")

                            
                            <div id='pager2'>
                            @*Html.Partial("~\\views\\shared\\PagerPartial.cshtml", Model)*@
                            @Html.Partial("PagerPartial", Model)
                            </div>
                        }
                          
                    </div>
                </div>
    
    
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript">//<![CDATA[
    //    $(window).load(function () {
    //        //var trainingInstanceIds = [1, 2, 3, 4, 5, 6];
    ////        var trainingInstanceIds = new Array();
    ////        trainingInstanceIds[0] = "Action";
    ////        trainingInstanceIds[1] = "CaseID";
    ////        trainingInstanceIds[2] = "DateofInterview";
    ////        trainingInstanceIds[3] = "FirstName";
    ////        trainingInstanceIds[4] = "LastName";
    ////        trainingInstanceIds[5] = "Sex";
    // alert();
    //       
    //        $('.second td').attr('title', function (index, attr) {
    //            return trainingInstanceIds[$(this).index()];
    //        });
    //    });//]]>  

</script>
