@model Epi.Web.MVC.Models.FormResponseInfoModel
@{
    ViewBag.Title = "Epi Web Enter - Form Details"; //+ " - " +
       // Model.SurveyName + " - " + Model.IsDraftModeStyleClass + " - Mobile";  
}
        <script type="text/javascript">
var formId =  document.getElementById('hidFormId').value; //$('#hidFormId').val();
var pageId = $('#hidPageNumber').val();
  var returnUrl = 'returnUrl=' + formId + '/' + pageId; 
  var redirectTimeout = @FormsAuthentication.Timeout.TotalMilliseconds
  var redirectTimeoutHandle = setTimeout(function() { window.location.href = '@FormsAuthentication.LoginUrl' + '?'+ returnUrl; }, redirectTimeout);
</script>
<script type="text/javascript">

    //Following code prevents the default behav of DeleteButton, sets the value of hidden field to the value of button click(ResponseId).
//displays a dialog, on confirmation deletes the row through ajax call and refreshes the page.
    $(document).delegate("button[name='DeleteButton']", 'click', function (e) {
        e.preventDefault();
        $("input[id=hidSelectedResponseId]").val($(this).val());
        $(this).simpledialog({
            'mode': 'blank',
            'prompt': false,
            'forceInput': false,
            'useModal': true,
            'buttons': {
                'OK': {
                    click: function () {
                        $('#dialogoutput').text('OK');
                        alert(test);
                    }
                }

            },


            'fullHTML': "<div id=\"exitdialog\" title=\"Delete Record\" ><p id='simpletext' style=\"font-size:1.20em; font-weight:400;\">Are you sure you want to delete this record?</p><p style=\"font-size:1.20em; font-weight:300;\"></p><p><div align='right' id='exitbtns'> <a id='simpleyes' onclick ='ExitSurvey();'  class='login'  style='width:50px; padding:8px 5px !important; border: 1px solid #1f3b53 !important; background: #5c53ac !important; color:#fff !important; text-shadow: none !important;'>Yes</a>        <a class='login'   style='width:50px; padding:8px 5px !important; border: 1px solid #1f3b53 !important; background: #5c53ac !important; color:#fff !important; text-shadow: none !important;'rel='close'   id='simpleclose' \">No</a></div></p>"
        })


    });



    function ExitSurvey() {

             
            var signoutUrl = '@Url.Action("Delete", "FormResponse")' + '?ResponseId=' + $("input[id=hidSelectedResponseId]").val();
            $.ajax({
                url: signoutUrl,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: true,
                success: successFunc,
                error: errorFunc
                                    });

                                
        }

        function successFunc() {
          //  alert(5);
          //  var homePageUrl = '@Url.Action("Index", "FormResponse")' + '/' + getQueryStringValue()["formid"].toString();
         //   alert(homePageUrl);
            //window.location.href = homePageUrl; // homePageUrl;
            window.location.href = window.location.href;
        }

        function errorFunc(data) {
            alert('failed');
        }
        function getQueryStringValue() {
            var QueryString = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                QueryString.push(hash[0]);
                QueryString[hash[0]] = hash[1];
            }
            
            return QueryString;
        }
</script>

<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            My Forms</h2>
    </div>
    <div id="userwelcome">
        Welcome <strong>@Session["UserFirstName"]&nbsp; @Session["UserLastName"]</strong>&nbsp; | &nbsp;
      @*  <a href="#">Log Out</a>*@           
      @Html.ActionLink("Log Out", "LogOut", "FormResponse", null, null)	
        </div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin-bottom: 200px;">
    @Html.ActionLink("Return to Forms List", "Index", "Home", new object { }, new { @class = "backlink" })
    <div class="section group" id="main">
        <div id="right" class="col span_1_of_3" style="background: white; padding: 10px;">
            <div id="formtitle">
                <h2 class="surveyTitle">@Model.FormInfoModel.FormName</h2>
            </div>
            @{
                WebGrid webGrid = new WebGrid(rowsPerPage: 20,
                    canSort: false, ajaxUpdateContainerId: "recordstable"); // Model.SurveyAnswerResponse.pageSize
                // webGrid.Pager(WebGridPagerModes.NextPrevious);
                webGrid.Bind(Model.ResponsesList, autoSortAndPage: true, rowCount: Model.NumberOfResponses);
            }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formsList" }))
            { 
                <div style="max-width:720px;">
               
               <div id="infobox1">
                    <div id="create">
                        <span>Created by:</span> <span class="boldlabel">@Model.FormInfoModel.OwnerFName @Model.FormInfoModel.OwnerLName </span></div>
                    @*      <div id="status">
                    <span>Status:</span> <span class="boldlabel">Active</span></div>*@
                    @{
                if (@Model.FormInfoModel.IsDraftMode)
                {
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Staging</span></div>
                         <div id="NumberOfRecords" style="display:block;"> 
                    <span>Total Records:</span> <span class="boldlabel" style="font-size:14pt;">@Model.NumberOfResponses</span></div>
                }
                else
                {
                               
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Production</span></div> 
                        
                         <div id="NumberOfRecords" style="display:block;"> 
                    <span>Total Records:</span> <span class="boldlabel" style="font-size:14pt;">@Model.NumberOfResponses</span></div>
                               
                               
                }
                    }
                    <div style="clear: both;"></div>
                </div>
                <div id="addnew">
                        <button  type="submit"  name="AddNewFormId"  value="@Model.FormInfoModel.FormId" data-theme="defrecord" >
                            Add New Record
                        </button>
                    </div>
                     <div style="clear: both;"></div>
                     
                </div>
                <div style="clear: both">
                </div>
                
                <div id="recordscontent">
                    
                    <div style="clear: both; margin-bottom: 10px;">
                    </div>
                    <div id="recordstable">
                        @if (Model.ResponsesList.Count > 0)
                        {
                            <div id='pager1'>
                            @*Html.Partial("~\\views\\shared\\PagerPartial.cshtml", Model)*@
                            @Html.Partial("PagerPartial", Model)
                            </div>

        
                            @Html.Raw("<ul>")
                            for (int i = 0; i < Model.ResponsesList.Count(); i++)
                            {
                            @Html.Raw("<li class='mobilerow'>");
                            @Html.Raw("<div class='mobilewrap'>" + "<div  class='mobilevalue' style='width:100%; text-align:right;'>" + "<button data-role='button' data-theme='submit2' data-inline='true' type='submit' name='EditForm'  id='" + Model.ResponsesList[i].Column0 + "'value='" + Model.ResponsesList[i].Column0 + "'>Open</button> &nbsp;" + "<button data-role='button' data-theme='submit2' data-inline='true' type='submit' name='DeleteButton'  id='" + Model.ResponsesList[i].Column0 + "'value='" + Model.ResponsesList[i].Column0 + "'>Delete</button>" + " " + "</div><div style='clear: both;'></div></div>");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[0].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column1 + "</div><div style='clear: both;'></div></div>");
                                                                                                                                                                                                                                            if (Model.Columns.Count >= 2){ 
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[1].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column2 + "</div><div style='clear: both;'></div></div>");
                                                                                                                                                                                                                                            }
                                if (Model.Columns.Count >= 3)
                                { 
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[2].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column3 + "</div><div style='clear: both;'></div></div>");
                                }

                                if (Model.Columns.Count >= 4)
                                { 
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[3].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column4 + "</div><div style='clear: both;'></div></div>");
                                }

                                if (Model.Columns.Count >= 5)
                                { 
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[4].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column5 + "</div><div style='clear: both;'></div></div>");
                                }
                           
                            @Html.Raw("</li>");
                            }
                            @Html.Raw("</ul>")

                            
                            <div id='pager2'>
                            @*Html.Partial("~\\views\\shared\\PagerPartial.cshtml", Model)*@
                            @Html.Partial("PagerPartial", Model)
                            </div>
                        }
                          
                    </div>
                </div>
    @Html.Hidden("hidSelectedResponseId");
    
            }
        </div>
    </div>
</div>
