@model Epi.Web.MVC.Models.FormResponseInfoModel
<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            My Forms</h2>
    </div>
    <div id="userwelcome">
        Welcome <strong>John</strong>&nbsp; | &nbsp;<a href="#">Log Out</a></div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin-bottom: 200px;">
    @Html.ActionLink("Return to Forms List", "Index", "Home", new object { }, new { @class = "backlink" })
    <div class="section group" id="main">
        <div id="right" class="col span_1_of_3" style="background: white; padding: 10px;">
            <div id="formtitle">
                <h2 class="surveyTitle">@Model.FormInfoModel.FormName</h2>
            </div>
            @{
                WebGrid webGrid = new WebGrid(rowsPerPage: 20,
                    canSort: false, ajaxUpdateContainerId: "recordstable"); // Model.SurveyAnswerResponse.pageSize
                // webGrid.Pager(WebGridPagerModes.NextPrevious);
                webGrid.Bind(Model.ResponsesList, autoSortAndPage: true, rowCount: Model.NumberOfResponses);
            }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formsList" }))
            { 
                <div id="editsettings">
                    <button id="btneditsettings" type="button" data-theme="defsettings">
                        Settings</button>
                </div>
                <div style="clear: both">
                </div>
                <div id="infobox1">
                    <div id="create">
                        <span>Created by:</span> <span class="boldlabel">John Doe</span></div>
                    @*      <div id="status">
                    <span>Status:</span> <span class="boldlabel">Active</span></div>*@
                    @{
                if (@Model.FormInfoModel.IsDraftMode)
                {
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Staging</span></div>
                }
                else
                {
                               
                        <div id="mode">
                            <span>Mode:</span> <span class="boldlabel">Production</span></div> 
                               
                               
                }
                    }
                    <div style="clear: both;">
                    </div>
                </div>
                <div id="recordscontent">
                    <!--style="display:inline-block;"-->
                    <div id="addnew">
                        <button  type="submit"  name="AddNewFormId"  value="@Model.FormInfoModel.FormId" data-theme="defrecord" >
                            Add New Record
                        </button>
                    </div>
                    <!--<div id="paging" class="pages" style="margin-top: 11px; min-width: 184px !important;">
                   @* <button class="default paging">
                        <img alt="Previous" src="~/Content/images/prev1.png" align="middle" /></button>
                    &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                    <button class="default paging">
                        <img alt="Next" src="~/Content/images/next1.png" align="middle" /></button>*@
                        <a  style="background-image: url('@Url.Content("~/Content/images/prev.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                     &nbsp; <span class="boldlabel">21-40 of 80</span> &nbsp;
                      <a  style="background-image: url('@Url.Content("~/Content/images/next.png")'); background-repeat:no-repeat; background-position:center; width:30px;"   href="#"    class="nextprev" title="Previous Page">
                    &nbsp;&nbsp;&nbsp;
                    </a> 
                </div>-->
                    <div style="clear: both; margin-bottom: 10px;">
                    </div>
                    <div id="recordstable">
                        @if (Model.ResponsesList.Count > 0)
                        {
@*@webGrid.GetHtml(
                       htmlAttributes: new { id = "mytable01" },
                            tableStyle: "second",
                   columns: webGrid.Columns(
                         webGrid.Column(header: "",
                                style: "text-align-left",
                                    format: (item) => new
                                         HtmlString(Html.ActionLink("Edit", "Edit", new { ID = item.Column0 }).ToString() + " &nbsp;&nbsp; " +
                                                     Html.ActionLink("Delete", "Delete", new { ID = item.Column0 }).ToString()
                                                )
                         ),
                   webGrid.Column("Column1", Model.Columns[0].Value),
                                            webGrid.Column("Column2", Model.Columns[1].Value),
                                            webGrid.Column("Column3", Model.Columns[2].Value),
                                            webGrid.Column("Column4", Model.Columns[3].Value),
                                            webGrid.Column("Column5", Model.Columns[4].Value)
                   
                              )
                              
                             );*@
@*@webGrid.GetHtml(
                   columns: webGrid.Columns(
                   webGrid.Column("Column1", Model.ColumnNames[0]),
                   webGrid.Column("Column2", Model.ColumnNames[1]),
                   webGrid.Column("Column3", Model.ColumnNames[2]),
                   webGrid.Column("Column4", Model.ColumnNames[3]),
                   webGrid.Column("Column5", Model.ColumnNames[4]),
                             webGrid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { id = item.Column0 }), style: "column"),
                    webGrid.Column(format: (item) => Html.ActionLink("Delete", "Delete", new { id = item.Column0 }), style: "column")
                              )
                             );*@
        
                            //foreach (var item in Model.ResponsesList)
                            @Html.Raw("<ul>")
                            for (int i = 0; i < Model.ResponsesList.Count(); i++)
                            {
                            @Html.Raw("<li class='mobilerow'>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'> Actions: </div>" + "<div  class='mobilevalue'>" + @Html.ActionLink("Edit", "Edit", new { id = Model.ResponsesList[i].Column0 }) + " &nbsp;&nbsp; " + @Html.ActionLink("Delete", "Delete", new { id = Model.ResponsesList[i].Column0 }) + " " + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[0].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column1 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[1].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column2 + "</div></div>");
                            @Html.Raw("<div class='mobilewrap'><div class='mobileheader'>" + Model.Columns[2].Value + ":</div> <div class='mobilevalue'>" + Model.ResponsesList[i].Column3 + "</div></div>");
                           
                            @Html.Raw("</li>");
                            }
                            @Html.Raw("</ul>")
                            <br />
                            <br />
                            <br />
@*for (int i = 1; i <= Model.NumberOfPages; i++)
                            {
                            @Html.Raw(" " + @Html.ActionLink(i.ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = i }) + " ");
                            }*@
                            
                            
                            //@Html.Raw("Previous")
                            if (Model.CurrentPage != 1)
                            {
                            @Html.Raw(" " + @Html.ActionLink("<", "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = Model.CurrentPage - 1 }) + " ");
                            }

                            if (Model.NumberOfPages < 5)
                            {
                                for (int i = 1; i <= Model.NumberOfPages; i++)
                                {
                                    if (Model.CurrentPage == i)
                                    {
                            @Html.Raw(" " + i + " ");
                                    }
                                    else
                                    {
                            @Html.Raw(" " + @Html.ActionLink(i.ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = i }) + " ");
                                    }
                                }
                            }

                            else
                            if (Model.CurrentPage <= 5)
                            {


                                for (int i = 1; i <= 5; i++)
                                {
                                    if (Model.CurrentPage == i)
                                    {
                            @Html.Raw(" " + i + " ");
                                    }
                                    else
                                    {
                            @Html.Raw(" " + @Html.ActionLink(i.ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = i }) + " ");
                                    }


                                }
                            }
                            else
                                if (Model.CurrentPage > 5 && Model.NumberOfPages > Model.CurrentPage + 5)
                                {
                            @Html.Raw(" " + @Html.ActionLink((Model.CurrentPage - 2).ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = Model.CurrentPage - 2 }) + " "); 
                            @Html.Raw(" " + @Html.ActionLink((Model.CurrentPage - 1).ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = (Model.CurrentPage - 1) }) + " ");
                            @Html.Raw(" " + Model.CurrentPage + " ");
                            @Html.Raw(" " + @Html.ActionLink((Model.CurrentPage + 1).ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = (Model.CurrentPage + 1) }) + " ");
                            @Html.Raw(" " + @Html.ActionLink((Model.CurrentPage + 2).ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = (Model.CurrentPage + 2) }) + " ");
                                }

                                else
                                {
                                    //if (Model.NumberOfPages > 5)
                                    //{
                                        for (int i = Model.NumberOfPages - 5; i <= Model.NumberOfPages; i++)
                                        {
                                            if (Model.CurrentPage == i)
                                            {
                            @Html.Raw(" " + i + " ");
                                            }
                                            else
                                            {
                            @Html.Raw(" " + @Html.ActionLink(i.ToString(), "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = i }) + " ");
                                            }
                                        }
                                    //}



                                }

                            if (Model.CurrentPage != Model.NumberOfPages)
                            {
                            @Html.Raw(" " + @Html.ActionLink(">", "Index", new { surveyid = Model.FormInfoModel.FormId, pagenumber = Model.CurrentPage + 1 }) + " ");
                            }


                        }
                    </div>
                </div>
    
    
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript">//<![CDATA[
    //    $(window).load(function () {
    //        //var trainingInstanceIds = [1, 2, 3, 4, 5, 6];
    ////        var trainingInstanceIds = new Array();
    ////        trainingInstanceIds[0] = "Action";
    ////        trainingInstanceIds[1] = "CaseID";
    ////        trainingInstanceIds[2] = "DateofInterview";
    ////        trainingInstanceIds[3] = "FirstName";
    ////        trainingInstanceIds[4] = "LastName";
    ////        trainingInstanceIds[5] = "Sex";
    // alert();
    //       
    //        $('.second td').attr('title', function (index, attr) {
    //            return trainingInstanceIds[$(this).index()];
    //        });
    //    });//]]>  

</script>
